@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #f5f5f5;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}